[submodule "deps/fileformat"]
	path = deps/fileformat
	url = https://github.com/avast-tl/fileformat
[submodule "deps/fnc-patterns"]
	path = deps/fnc-patterns
	url = https://github.com/avast-tl/fnc-patterns
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/avast-tl/googletest
[submodule "deps/libdwarf"]
	path = deps/libdwarf
	url = https://github.com/avast-tl/libdwarf
[submodule "deps/llvm"]
	path = deps/llvm
	url = https://github.com/avast-tl/llvm
[submodule "deps/pdbparser"]
	path = deps/pdbparser
	url = https://github.com/avast-tl/pdbparser
[submodule "deps/retdec-config"]
	path = deps/retdec-config
	url = https://github.com/avast-tl/retdec-config
[submodule "deps/tl-cpputils"]
	path = deps/tl-cpputils
	url = https://github.com/avast-tl/tl-cpputils
[submodule "deps/demangler"]
	path = deps/demangler
	url = https://github.com/avast-tl/demangler
[submodule "deps/ctypes"]
	path = deps/ctypes
	url = https://github.com/avast-tl/ctypes
[submodule "deps/capstone2llvmir"]
	path = deps/capstone2llvmir
	url = https://github.com/avast-tl/capstone2llvmir
