int main()

/build*/
/Debug/
source_id/code
debug_database/**
**/system_dimensions
secondspace_version/
.**
___dynamic___
_node/Server_error
**/syestem_default
.second_space/
vault_default/**
.tml
.vault/**
}
